.card {
    --bs-card-border-width: 0;
    height: 25rem;
}

h5 {
    margin-left: 10%;
    margin-right: 10%;
}

.card:hover div.bg-info {
    position: absolute;
    right: 5%;
    left: 5%;
    bottom: 1rem;
    border-radius: 5px;
    display: block !important;
}

ul {
    font-family: cursive;
}

h2 {
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.opacity-25 {
    height: 87.5%;
}

.card:hover img {
    border: 3px solid rgb(25, 135, 84);
}

.none {
    display: none !important;
}


